name: Deploy Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.85.0
      - uses: extractions/setup-just@v2

      - name: Build Garden
        run: cargo build --release

      - name: Add Garden to PATH
        run: echo "$GITHUB_WORKSPACE/target/release" >> "$GITHUB_PATH"

      - name: Build website
        run: just site-build

      - name: Deploy to GitHub pages
        uses: JamesIves/github-pages-deploy-action@v4.4.3
        with:
          branch: gh-pages
          folder: website/dist
          single-commit: true
          force: true
