name: Docker Build

on: [push, pull_request]

jobs:
  build-docker:
    name: Build Docker Image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2

      - name: Build Docker image
        run: just build-docker

      - name: Log in to GitHub Container Registry
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag and push to ghcr.io
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        # ghcr.io requires image repository names to be lowercase, but
        # my GitHub username is unfortunately capitalised.
        run: |
          OWNER_LC=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          docker tag wilfred/garden-playground:latest "ghcr.io/${OWNER_LC}/garden-playground:latest"
          docker push "ghcr.io/${OWNER_LC}/garden-playground:latest"
