on: [push, pull_request]

name: Continuous integration

jobs:
  test_linux:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.85.0

      - name: Build binary for assert_cmd
        run: cargo build

      - run: cargo test

  actionlint:
    name: Actionlint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: ls
      - uses: raven-actions/actionlint@v1

  build_docs:
    name: Build documentation
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.85.0
      - uses: extractions/setup-just@v2

      - name: Build Garden
        run: cargo build --release

      - name: Add Garden to PATH
        run: echo "$GITHUB_WORKSPACE/target/release" >> "$GITHUB_PATH"

      - name: Build website
        run: just site-build

  # dry_run_publish:
  #   runs-on: ubuntu-24.04
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: katyo/publish-crates@v2
  #       with:
  #         dry-run: true

